Repository k4cg/nichtparasoup: changes, and which Codecov flags are due for each by the changed paths.
All: python-package, python-plugin-example

re-enabled codeQL scanner
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  .github/workflows/web-ui-tests.yaml
Due: none

pinned sonar action
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  .github/workflows/web-ui-tests.yaml
Due: none

dependencies bump 2020-09-05
  python-package/requirements/dev.txt
  python-package/requirements/style.txt
  python-package/requirements/tests.txt
  python-package/requirements/tox.txt
  python-plugin-example/requirements/dev.txt
  python-plugin-example/requirements/style.txt
  python-plugin-example/requirements/tests.txt
  python-plugin-example/requirements/tox.txt
Due: none

wrote history
  python-package/HISTORY.md
Due: none

history got release dates
  python-package/HISTORY.md
  python-package/RELEASEPROCESS.md
Due: none

prepared release of 3.0.0a1
  python-package/HISTORY.md
  python-package/src/nichtparasoup/__init__.py
Due: python-package

tox test - version
  .github/codeql/python-package.yaml
  .github/workflows/release.yaml
  python-package/bin/test_version.py
  python-package/tox.ini
Due: none

widened codeql checks
  .github/codeql/python-package.yaml
  .github/codeql/python-plugin-example.yaml
  .github/codeql/web-ui.yaml
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  .github/workflows/web-ui-tests.yaml
Due: none

fixed 3.0-dev branch in setup.cfg Source Code
  python-package/setup.cfg
Due: none

marked 3.0.0a1 as released in `HISTORY.md`
  python-package/HISTORY.md
Due: none

typo fix
  python-plugin-example/README.md
Due: none

fix for #381
  nichtparasoup/imagecrawler/instagram.py
Due: none

isort
  examples/nichtparasoup-imagecrawler-plugin/tests/test_90_examples/test_shipped_config_files.py
  nichtparasoup/cli/commands.py
  nichtparasoup/imagecrawler/__init__.py
  nichtparasoup/webserver/__init__.py
  tests/test_10_nichtparasoup/test_config/test_default_config_file.py
  tests/test_10_nichtparasoup/test_core/test_server.py
  tests/test_10_nichtparasoup/test_testing/test_configfiletest.py
  tests/test_10_nichtparasoup/test_testing/test_filefetcher.py
  tests/test_10_nichtparasoup/test_version.py
  tests/test_90_examples/test_config/test_shipped_config_files.py
Due: none

fixed tests for #381
  tests/test_10_nichtparasoup/test_imagecrawler/test_instagram.py
  tests/test_10_nichtparasoup/test_imagecrawler/testdata_instagram/e243abb1f92c.js
  tests/test_10_nichtparasoup/test_imagecrawler/testdata_instagram/ebbdfced63f8.js
  tests/test_10_nichtparasoup/test_imagecrawler/testdata_instagram/query_hash=51fdd02b67508306ad4484ff574a0b62&variables={first-1,after,id-787132}
  tests/test_10_nichtparasoup/test_imagecrawler/testdata_instagram/query_hash=51fdd02b67508306ad4484ff574a0b62&variables={first-5,after,id-787132}
  tests/test_10_nichtparasoup/test_imagecrawler/testdata_instagram/query_hash=97b41c52301f77ce508f55e66d17620e&variables={first-1,after,id-787132}
Due: none

added #381 fix to hostory
  HISTORY.md
Due: none

added debug logging for RemoteFetcher
  python-package/HISTORY.md
  python-package/src/nichtparasoup/commands/server_config_check.py
  python-package/src/nichtparasoup/core/imagecrawler.py
  python-package/src/nichtparasoup/testing/configfile.py
  python-package/tests/.gitignore
  python-package/tests/__init__.py
  python-package/tox.ini
Due: python-package

gh-workflow: collect testlogs on failure
  .github/workflows/python-package-tests.yaml
Due: none

test alternative UA
  python-package/src/nichtparasoup/imagecrawlers/instagram.py
Due: python-package

intagram profile crawler: alternative profile_id fetcher
  python-package/src/nichtparasoup/imagecrawlers/instagram.py
  python-package/tests/test_10_nichtparasoup/test_imagecrawlers/test_instagram.py
  python-package/tests/test_10_nichtparasoup/test_imagecrawlers/testdata_instagram/natgeo
Due: python-package

intagram profile crawler: added config `profile_id`
  python-package/HISTORY.md
  python-package/docs/imagecrawlers/instagram_profile.md
  python-package/examples/config/instabuff.yaml
  python-package/src/nichtparasoup/config/defaults.yaml
  python-package/src/nichtparasoup/imagecrawlers/instagram.py
  python-package/tests/test_10_nichtparasoup/test_imagecrawlers/test_instagram.py
Due: python-package

allowed to skip server-creating tests
  .github/workflows/python-package-tests.yaml
  python-package/pytest.ini
  python-package/src/nichtparasoup/testing/configfile.py
  python-package/tests/test_10_nichtparasoup/test_core/test_RemoteFetcher.py
Due: python-package

detailed tests for `nichtparasoup.core.imagecrawler.RemoteFetcher`
  python-package/src/nichtparasoup/core/imagecrawler.py
  python-package/tests/test_10_nichtparasoup/test_core/test_RemoteFetcher.py
Due: python-package

history: marked release date of 2.4.3
  python-package/HISTORY.md
Due: none

dev dep bump
  python-package/requirements/dev.txt
  python-package/requirements/style.txt
  python-package/requirements/tests.txt
  python-plugin-example/requirements/dev.txt
  python-plugin-example/requirements/style.txt
  python-plugin-example/requirements/tests.txt
Due: none

removed codecov. closes #352
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  codecov.yml
  python-package/README.md
  python-plugin-example/README.md
Due: none

configFilePath can be a `PathLike` or `str`, was `str` only
  python-package/src/nichtparasoup/commands/server_config_check.py
  python-package/src/nichtparasoup/commands/server_config_dump_defaults.py
  python-package/src/nichtparasoup/commands/server_run.py
  python-package/src/nichtparasoup/config/__init__.py
  python-package/src/nichtparasoup/testing/configfile.py
  python-package/tests/test_10_nichtparasoup/test_config/test_config_parser.py
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/minimal.yaml
  python-package/tests/test_91_examples/test_config/test_shipped_config_files.py
Due: python-package

wrote HISTORY.md
  python-package/HISTORY.md
Due: none

README shields: chagend CI logo from GithubActions to Github
  python-package/README.md
  python-plugin-example/README.md
  web-ui/README.md
Due: none

bumped dependencies
  python-package/requirements/build.txt
  python-package/requirements/dev.txt
  python-package/requirements/style.txt
  python-package/requirements/tests.txt
  python-package/requirements/tox.txt
  python-plugin-example/requirements/dev.txt
  python-plugin-example/requirements/style.txt
  python-plugin-example/requirements/tests.txt
  python-plugin-example/requirements/tox.txt
Due: none

bumped dependencies
  python-package/requirements/dev.txt
  python-package/requirements/style.txt
  python-package/requirements/tox.txt
  python-plugin-example/requirements/dev.txt
  python-plugin-example/requirements/style.txt
  python-plugin-example/requirements/tox.txt
Due: none

removed pylint integration
  python-package/.pylintrc
  python-package/src/nichtparasoup/_internals.py
  python-package/src/nichtparasoup/commands/server_config_check.py
  python-package/src/nichtparasoup/commands/server_config_dump_defaults.py
  python-package/src/nichtparasoup/config/__init__.py
  python-package/src/nichtparasoup/core/__init__.py
  python-package/src/nichtparasoup/core/imagecrawler.py
  python-package/src/nichtparasoup/imagecrawlers/__init__.py
  python-package/src/nichtparasoup/imagecrawlers/echo.py
  python-package/src/nichtparasoup/imagecrawlers/instagram.py
  python-package/src/nichtparasoup/imagecrawlers/picsum.py
  python-package/src/nichtparasoup/imagecrawlers/pr0gramm.py
  python-package/src/nichtparasoup/imagecrawlers/reddit.py
  python-package/src/nichtparasoup/testing/config.py
  python-package/src/nichtparasoup/testing/configfile.py
  python-package/src/nichtparasoup/testing/imagecrawler.py
  python-package/src/nichtparasoup/webserver.py
  python-plugin-example/src/nichtparasoup_imagecrawler_dummyimage.py
Due: python-package, python-plugin-example

added `colors` extra to tox tests
  python-package/tox.ini
Due: none

reduced the usage of `pragma: no cover`
  python-package/src/nichtparasoup/_internals.py
  python-package/src/nichtparasoup/config/__init__.py
  python-package/src/nichtparasoup/core/__init__.py
  python-package/src/nichtparasoup/core/image.py
  python-package/src/nichtparasoup/core/imagecrawler.py
  python-package/src/nichtparasoup/core/server.py
  python-package/src/nichtparasoup/imagecrawlers/__init__.py
  python-package/src/nichtparasoup/imagecrawlers/echo.py
  python-package/src/nichtparasoup/imagecrawlers/instagram.py
  python-package/src/nichtparasoup/imagecrawlers/picsum.py
  python-package/src/nichtparasoup/imagecrawlers/pr0gramm.py
  python-package/src/nichtparasoup/imagecrawlers/reddit.py
  python-package/src/nichtparasoup/testing/config.py
  python-package/src/nichtparasoup/testing/configfile.py
  python-package/src/nichtparasoup/testing/imagecrawler.py
  python-package/src/nichtparasoup/webserver.py
  python-plugin-example/src/nichtparasoup_imagecrawler_dummyimage.py
Due: python-package, python-plugin-example

gh-workflow artifact coverage
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  python-package/.coveragerc
  python-plugin-example/.coveragerc
Due: none

gh-action more variables
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
Due: none

config `imageserver` bekame optioanl and got new properties
  python-package/HISTORY.md
  python-package/docs/config/index.md
  python-package/src/nichtparasoup/commands/server_run.py
  python-package/src/nichtparasoup/config/defaults.yaml
  python-package/src/nichtparasoup/config/schema.yaml
  python-package/src/nichtparasoup/core/server.py
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/crawler_config_missing.yaml
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/crawler_exhausted_missing.yaml
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/crawler_weight_missing.yaml
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/logging_level_missing.yaml
  python-package/tests/test_10_nichtparasoup/test_config/testdata_configs/positive/minimal.yaml
Due: python-package

added tests for python3.9
  .github/workflows/python-package-tests.yaml
  .github/workflows/python-plugin-example-tests.yaml
  .github/workflows/release.yaml
  python-package/setup.cfg
  python-package/tox.ini
  python-plugin-example/tox.ini
Due: none

fixed tox with py39 & tidied up depends
  python-package/tox.ini
  python-plugin-example/tox.ini
Due: none

streamlined coverage output paths
  python-package/.coveragerc
  python-plugin-example/.coveragerc
Due: none

Path conditions:
  python-package: any of: python-package/src
  python-plugin-example: any of: python-plugin-example/src
